@font-face {
  font-family: "iconfont"; /* Project id 3619316 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1721572299945') format('woff2'),
       url('iconfont.woff?t=1721572299945') format('woff'),
       url('iconfont.ttf?t=1721572299945') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e99e";
}

.icon-caidan:before {
  content: "\e604";
}

