.base-full-width {
  width: 100%;
  height: 100%;
}
.footer__btn {
  max-width: 80px;
  min-width: 60px;
  width: 35%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--main-background-light-color);
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.nav__scrollbar__style {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--main-scrollbar-color);
  }
}